@model List<ContactModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Create">Adicionar Novo Contato</a>
    </div><br>

    @if (TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MessageSuccess"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessageError"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        </div>
    }

    <h2 class="display-4">Lista de Contatos</h2>
    <table class="table" id="table-contact">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int rowNumber = 1;
                foreach (ContactModel contact in Model)
                {
                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@contact.Name</td>
                        <td>@contact.Email</td>
                        <td>@contact.Phone</td>
                        <td>
                            <div class="btn-group-sm" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@contact.Id" asp-controller="Contact"
                                    asp-action="Edit">Edit</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contact.Id" asp-controller="Contact"
                                    asp-action="DeleteConfirm">Remove</a>
                            </div>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
        </tbody>
    </table>
</div>